.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: var(--bg);
  color: var(--text);
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
}

.hero-content span {
  color: var(--accent);
}

.hero-content p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  color: var(--muted);
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: var(--accent);
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: var(--accent-2);
}

.hero-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid var(--accent);
  object-fit: cover;
}
